<nav class="jimotrip-navbar p-1">
	<div class="flexbox align-items-center">
	  <div class="flexbox align-items-center">
 	    <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3 hover-color" %>
 	    <h4 class="p-3 mt-3 jimotrip-font-color">Explore with a local, enjoy like the locals!</h4>
	  </div>
		  <div class="flexbox nav-right">
 	      <%= link_to 'Create a Jimotrip', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link hover-color" %>
 	      <%= link_to "My Jimotrips", bookings_path(@user),  class: "jimotrip-font-color nav-right header-link hover-color px-3" %>
<!-- 		  	<a class="px-3 navbar-brand jimotrip-font-color hover-color" href="#">My Jimotrips</a>
 -->		  	<a class="navbar-brand jimotrip-font-color lang-text hover-color" href="#"><i class="fas fa-flag-usa"></i></a>
		  	<img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
		  </div>
	  </div>
	</div>
</nav>

<div class="container mt-3">
	<div class="d-flex">

<!-- Filer by container -->

  	<div class="dashboard-column col-3 mr-3">
  		<h4 class="salmon-text text-center p-3"><strong>Filter by:</strong></h4>
  		<ul class="dark-grey-text no-bullets">
  			<li><i class="far fa-square"></i>  Booking Status</li>
  			<li><i class="far fa-square"></i>  City</li>
  			<li><i class="far fa-square"></i>  Category</li>
  		</ul>
  	</div>

<!-- container for both dashboards -->

  	<div class="dashboard-main col-9 p-0">

			<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active nav-link-dark" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Jimotrips to Experience</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link nav-link-dark" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Jimotrips I've Created</a>
			  </li>
			</ul>

<!-- dashboard container -->
<%# raise %>
			<div class="tab-content" id="pills-tabContent">

        <!-- dashboard Jimotrips to Experience -->

			  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			  	<div class="d-flex flex-wrap justify-content-around">
					<%# raise %>
					<% @bookings.each do |booking| %>
				  <div class="tab-card m-3 card-style-new">
						<% if booking.guide.photo.attached? %>
							<%= cl_image_tag booking.guide.photo.key, alt: "a photo uploaded by the user" %>
						<% else %>
							<!-- <img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" > -->
							<%= image_tag "Grass.jpg", alt: "alttext" %>
						<% end %>

						  <div class="tab-card-infos">
						    <div>

				<!-- 		    <div class="d-flex justify-content-between">
						    	<div> -->
							      <p class="title-font"><%= booking.guide.title %></p>
							      <p class="dark-grey-text location-font">Location: <%= booking.guide.location %></p>
							      <p class="dark-grey-text description-font"><%= booking.guide.description %></p>
							      <% if  booking.status == "Pending" %>
		                  <p class="text-white badge badge-pill badge-warning"><%= booking.status %></p>
							      <% elsif booking.status == "Accepted" %>
		                  <p class="text-white badge badge-pill badge-success"><%= booking.status %></p>
							      <% else %>
		                  <p class="text-white badge badge-pill badge-danger"><%= booking.status %></p>
							      <% end %>
<!-- 									</div>
									<div class="nav-right"> -->
<!-- 	                  <img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
	                  <p class="dark-grey-text"><%#= User.find(booking.id).name %></p> -->
	<!-- 					    	</div>
						    </div> -->

						    </div>
						  </div>
						</div>
						<% end %>
			  	</div>
			  </div>

        <!-- dashboard Jimotrips I've Created -->

			  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
			  	<div class="d-flex  flex-wrap justify-content-around">
					<% @guides.each do |guide| %>
				  <div class="tab-card m-3">
						<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
						  <div class="tab-card-infos">
						    <div>
						      <p class="title-font"><%= guide.title %></p>
						      <p class="dark-grey-text location-font"><%= guide.location %></p>
						      <p class="dark-grey-text description-font"><%= guide.description %></p>

                  <% guide.bookings.each do |booking| %>
                    <p class="dark-grey-text description-font">Booked by <%= booking.user.name %></p>

                    <% if  booking.status == "Pending" %>
		                  <p class="text-white badge badge-pill badge-warning"><%= booking.status %></p>
							      <% elsif booking.status == "Accepted" %>
		                  <p class="text-white badge badge-pill badge-success"><%= booking.status %></p>
							      <% else %>
		                  <p class="text-white badge badge-pill badge-danger"><%= booking.status %></p>
							      <% end %>

                    <!-- <p class="dark-grey-text description-font"><strong><%#= booking.status %></strong></p> -->
  						      <!-- <p class="dark-grey-text">Don't just observe the culture. Live it.</p> -->



                </div>
						  </div>
  						      <div class="d-flex justify-content-center mb-3">
  						      <%= simple_form_for booking do |f| %>
                      <%= f.input :status, input_html: { value: "Accepted" }, as: :hidden %>
                      <%= f.submit "Accept", class: "mr-0 mx-3 btn btn-outline-success" %>
                    <% end %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, input_html: { value: "Rejected" }, as: :hidden %>
                      <%= f.submit "Reject", class: "mx-3 btn btn-outline-danger" %>
                    <% end %>
                  <% end %>
  						      </div>
						</div>
						<% end %>
			  	</div>
			  </div>

			</div>
  	</div>
  </div>
</div>
