<nav class="jimotrip-navbar p-1">
  <div class="flexbox align-items-center">
    <div class="flexbox align-items-center">
      <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3 hover-color" %>
      <h4 class="p-3 mt-3 jimotrip-font-color">Explore with a local, enjoy like the locals!</h4>
    </div>
      <div class="flexbox nav-right">
        <%= link_to 'Create a Jimotrip', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link hover-color" %>
        <%= link_to "My Jimotrips", bookings_path(@user),  class: "jimotrip-font-color nav-right header-link hover-color px-3" %>
<!--        <a class="px-3 navbar-brand jimotrip-font-color hover-color" href="#">My Jimotrips</a>
 -->        <a class="navbar-brand jimotrip-font-color lang-text hover-color" href="#"><i class="fas fa-flag-usa"></i></a>
        <img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
      </div>
    </div>
  </div>
</nav>

<div class="container mt-3 d-flex justify-content-around">
<!--   <div class="row justify-content-center">
    <div class="card-trip col-lg-6 my-3 mr-3 offwhite-background p-3">
      <div>
        <h1 class="dark-grey-text text-center"><strong><%#= "Hey #{@current_user.name.capitalize}!"%></strong></h1>
        <br>
         <h4 class="dark-grey-text"><strong>We’re excited to learn about the Jimotrip you’d like to create</strong></h4>
      </div>
      <div>
        <br>
        <h5 class="dark-grey-text">Here is a quick note on <strong>how to create your new Jimotrip:</strong></h5>
        <br>
        <ul>
          <li class="dark-grey-text"><strong>Activity location</strong>: specify the location where your Jimotrip will take place.</li>
          <li class="dark-grey-text"><strong>Activity title</strong>: give a title to your Jimotrip. Be explicit for your Jimotrip tourists to understand easily the activity you are offering</li>
          <li class="dark-grey-text"><strong>Price</strong>: please specify the price of your activity.</li>
          <li class="dark-grey-text"><strong>Activity description</strong> : xplain in more details your Jimotrip.</li>
          <li class="dark-grey-text"><strong>Image uploead</strong>: please select one or several photos for your Jimotrip. This will be displayed in your Jimotrip card</li>
        </ul>
      </div>
    </div> -->
    <div class="card-homepage col-lg-5 my-3 offwhite-background p-3">
      <h1 class="dark-grey-text"><strong>Create A New Jimotrip!</strong></h1>
      <%= simple_form_for (@guide) do |f| %>
        <%= f.input :title, placeholder: 'Soccer & Izakaya... with Japanese Robots' %>
        <%= f.input :location, placeholder: 'Tokyo' %>
        <%# f.input :date, html5: true %>
        <%= f.input :price, label: 'Price (Yen)', placeholder: '15' %>
        <%= f.input :category, as: :select, collection: ['History', 'Nature', 'Culture', 'Art', 'Sports', 'Music', 'Food and Drinks', 'Outdoors', 'Shopping', 'Festivals', 'Relaxation', 'Action and Adventure', 'Touristy', 'Family friendly', 'Great for groups'] %>
        <%= f.input :description, placeholder: 'Enjoy a true Japanese experience! Play soccer, then enjoy a Japanese beer at a...' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-salmon hover-color text-white", value: "create a Jimotrip experience" %>
      <% end %>
  </div>

  <%= image_tag "https://res.cloudinary.com/dwd42pppi/image/upload/v1590032835/example_card_k76ywi.png", alt: "example of a cards", style: "width: 480px; height: 530px", class: "mt-3 card-homepage" %>
</div>


