<nav class="jimotrip-navbar p-1">
	<div class="flexbox align-items-center">
	  <div class="flexbox align-items-center">
			  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" width="40" height="40" alt="">
	 	    <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3" %>
	 	    <h4 class="p-3 mt-3 jimotrip-font-color">Explore with a local, enjoy like the locals!</h4>
	  </div>
		  <div class="flexbox nav-right">
 	      <%= link_to 'create a Jimotrip', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link" %>
		  	<a class="px-3 navbar-brand jimotrip-font-color" href="#">my experiences</a>
		  	<a class="navbar-brand jimotrip-font-color lang-text" href="#">languages</a>
		  	<img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
		  </div>
	  </div>
	</div>
</nav>

<div class="container">
	<div class="container my-3 offwhite-background p-3 border border-dark rounded">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
        <h1><strong>Add your activity!</strong></h1>
        <%= simple_form_for (@guide) do |f| %>
			    <%#= f.input :photo, as: :file %>
			    <%= f.input :title %>
          <%= f.input :location %>
			    <%= f.input :price %>
			    <%= f.input :description %>
          <%= f.input :photo, as: :file %>
			    <%= f.submit class: "btn btn-warning", value: "become a Jimotrip guide" %>
			  <% end %>
	    </div>
	  </div>
	</div>
</div>


