<nav class="jimotrip-navbar p-3">
	<div class="flexbox align-items-center">
	  <div class="flexbox align-items-center">
			  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" width="40" height="40" alt="">
	 	    <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3" %>
	  </div>
		  <div class="flexbox nav-right">
 	      <%= link_to 'become a guide', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link" %>
		  	<a class="p-3 navbar-brand jimotrip-font-color" href="#">see my bookings</a>
		  	<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
		  </div>
	  </div>
	</div>
</nav>

<div class="container">
	<div class="container my-3 offwhite-background p-3 border border-dark rounded">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
			  <%= simple_form_for (@guide) do |f| %>
			    <%#= f.input :photo, as: :file %>
			    <%= f.input :location %>
			    <%= f.input :price %>
			    <%= f.input :biography %>
			    <%= f.submit class: "btn btn-warning", value: "become a Jimotrip guide" %>
			  <% end %>
	    </div>
	  </div>
	</div>
</div>


