<!-- navbar -->

<nav class="jimotrip-navbar p-1">
  <div class="flexbox align-items-center">
    <div class="flexbox align-items-center">
      <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3 hover-color" %>
      <h4 class="p-3 mt-3 jimotrip-font-color">Explore with a local, enjoy like the locals!</h4>
    </div>
      <div class="flexbox nav-right">
        <%= link_to 'Create a Jimotrip', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link hover-color" %>
        <a class="px-3 navbar-brand jimotrip-font-color hover-color" href="#">My Jimotrips</a>
        <a class="navbar-brand jimotrip-font-color lang-text hover-color" href="#"><i class="fas fa-flag-usa"></i></a>
        <img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
      </div>
    </div>
  </div>
</nav>


<!-- congratulations message -->
<div class="text-center dark-grey-text">
  <h1 class="dark-grey-text">Congratulations <%= @current_user.name %>!</h1>
  <p>Your new Jimotrip has been created</p>
  <p>You can review your Jimotrip card below</p>
</div>

<!-- guide card -->

<div class="container dark-grey-text">
  <div class="row justify-content-center mt-5">

    <div class="col-12 col-lg-6">
    <%#= cl_image_tag @guide.photo.key, height: 300, width: 400, crop: :fill %>
    <img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589947500/high-angle-photo-of-robot-2599244_u421n4.jpg" style="width: 540px"/>

      <div class="card-guide">
        <div class="d-flex p-3 justify-content-between" style="height: 200px">
          <div>
            <h2><%#= @guide.name %></h2>
            <h4 class=""><strong></strong>Soccer & Izakaya... with Japanese Robots</strong></h4>
            <h5 class=""><%= @guide.location %></h5>
            <br>
            <h6 class="">Enjoy a true Japanese experience! Play soccer, then enjoy a Japanese beer at a Japanese izakaya with me and Japanese robots!</h6>
            <br>
           <h2 class="card-guide-pricing"><%= @guide.price %> Yen</h2>
          </div>
          <div>
            <img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
            <h2 class="salmon-text"><%= @current_user.name %></h2>
          </div>
          <!-- <div>
          <%# simple form  %>
            <%# simple_form_for (@guide) do |f| %>
              <%# f.input :date, html5: true %>
              <%# f.input :status %>
              <%# f.submit class: "btn btn-salmon hover-color text-white", value: "become a Jimotrip guide" %>
            <%# end %>
           <%# link_to 'Booking', guide_bookings_path(@guide), method: :post %>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
